:root {
  --text-color-01: #444444;
  --text-color-02: #323232;

  --icons-n-sht: #323232;

  --background-color-01: #d1cfcf;
  --background-color-02: #f4f4f4;
}

body {
  background-color: var(--background-color-02);
  font-family:
    Alegreya sans,
    sans-serif;
}

.header {
  background-color: var(--background-color-01);
  color: var(--text-color-01);
  padding-top: 50px;
  padding-bottom: 20px;
}

.header h1 {
  font-size: 29.1px;
  font-weight: bold;
  margin-top: 0;
}

.header p {
  font-size: 14;
  margin-bottom: 0;
}
